/* CSS declarations go here */

.row {
    margin-bottom: 800px !important;    /* padding for individual elements */
    height: 100% !important;
}

.card-action {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin:.5em;
}

.lo {
    background-color:#4a4c61;
    color: #ffcd8e !important;
}

.ro {
     background-color:#ffcd8e;
     color:#4a4c61 !important;
}

.card {
    background-color: #c2e1e6;
    font-size: 2em;
    margin:.5em;
}